# Maven build output
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper (keep it!)
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
